.boxed{
    border: 2px solid white ;
    border-radius: 10px;
    border-left: -20px;
  }
  
  .containerDetil {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin:5px;
    padding-left: 10px;
  }
  