{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="text-align: center">Portofolio</h1>
    <hr/>
    <section name="bio" style="text-align: center">
        <h2>Bio</h2>
        <img src="https://avatarfiles.alphacoders.com/824/82432.jpg" style="border-radius: 50% ; width: 300px; height: 300px;"> 
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>

    <section name="about_me" >
        <h2   style="text-align: center" >List</h2>
        <ul >
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>

    <section name="form" style="text-align: center">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    <style>
    
    body{
        background:  lightblue;
    }
    
    </style>
    {% endblock %}

