<div class="headerku">
    {% if login %}
    <a class="btn btn-danger" href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">
        Logout </a>
    {% else %}
    {% endif %}
</div>   